@{
    Layout = "~/Views/Shared/_AdminLoginLayout.cshtml";
}

@* <form id="form" action="" method="post"> *@
    <a href="/admin/AddAsset"> <button type="submit" class="btn btn-primary btn-block mb-4">Add Asset</button></a>
    <button type="submit" onclick="admin/Asset" class="btn btn-primary btn-block mb-4">Service</button>
    <button type="submit" class="btn btn-primary btn-block mb-4">Not Workings Asset</button>
@* </form> *@





<style>
    #form .form-outline {
        position: relative;
    }

        #form .form-outline label.error {
            color: #fff;
            font-size: .7em;
            position: absolute;
            right: 16px;
            bottom: -8px;
            padding: 5px 10px;
            line-height: 10px;
            text-align: right;
            background-color: #ce010a;
            border-radius: 5px;
            box-shadow: 0 0 5px #ddd;
            width: auto;
        }
</style>
